<!--flight.html-->
{% extends 'base.html' %}
{% block title %}飞行{% endblock %}
{% block sidemessage %}
    <div class="panel-body">
        {% for post in posts %}
            <div class="list-group">
                <a href="{{ post.title_web }}" class="list-group-item">{{ post.title }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block headmessage %}
    {% for post in posts %}
        <div class="panel-heading">
            <a href="{{ post.title_web }}"><h3>{{ post.title }}</h3></a><h5>{{ post.title_auther }}</h5>
        </div>
        <div class="panel-body">
            <p>{{ post.title_body | truncatechars:50}}</p>
        </div>
    {% endfor %}
{% endblock %}