<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width user-scalable=no initial-scale=1.0 maximum-scale=1.0 minmum-scale=1.0">
    <title>synairtech--B737</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/style.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#res-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="http://www.synairtech.com" class="navbar-brand"><strong>synairtech</strong></a>
                </div>
                <div class="collapse navbar-collapse" id="res-nav">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="http://www.synairtech.com/flight">飞行</a></li>
                        <li class="active"><a href="http://www.synairtech.com/b737">B737</a></li>
                        <li class="active"><a href="http://www.synairtech.com/python">PYTHON&AI</a></li>
                        <li class="active"><a href="http://www.synairtech.com/redwine">红酒</a></li>
                    </ul>
                    <form action="" class="navbar-form navbar-left" >
                        <input type="text" placeholder="请输入搜索内容" class="form-control">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search">

                            </span>
                        </button>

                    </form>
                    <a href="" class="btn navbar-btn btn-primary btn-sm navbar-right hidden-xs">发起聚会</a>
                    <div class="profile navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#">注册</a></li>
                            <li><a href="#">登陆</a></li>
                        </ul>
                        <p class="navbar-text">您好，<a href="#" class="navbar-link">张涛</a></p>

                    </div>
                </div>


            </div>
        </nav>



    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>最新文章</h3>
                    </div>
                    <div class="panel-body">
                        {% for post in posts %}
                        <div class="list-group">
                            <a href="" class="list-group-item">{{ post.title }}</a>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>
            <div class="col-md-8 col-sm-8">
                <div class="panel panel-default">
                    {% for post in posts %}
                    <div class="panel-heading">
                        <h3>{{ post.title }}</h3><h5>{{ post.title_auther }}</h5>

                    </div>
                    <div class="panel-body">
                    <p>{{ post.title_body }}</p>

                    </div>
                    {% endfor %}
                    <div class="panel-footer">
                        {% include 'footer.html' %}

                    </div>
                </div>

            </div>


        </div>


    </div>

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

