<!--post.html-->
{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block headmessage %}
    {% for post in posts %}
        <div>
            <h3><a href="{{ post.title_web }}">{{ post.title }}</a></h3>
            <ul>
                <li>{{ post.title_auther }}</li>
                <li>{{ post.title_date }}</li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
{% block content %}
    {% for post in posts %}
        <p>{{ post.title_body }}</p>
    {% endfor %}
{% endblock %}
</html>