<!--redwine_1.html-->
{% extends 'base.html' %}
{% for post in posts %}
{% block title %}{{ post.title }}{% endblock %}
{% block sidemessage %}
    <div class="panel-body">
            <div class="list-group">
                <a href="" class="list-group-item">{{ post.title }}</a>
            </div>
    </div>
{% endblock %}
{% block headmessage %}
        <div class="panel-heading">
            <h3>{{ post.title }}</h3><h5>{{ post.title_auther }}</h5>
        </div>
        <div class="panel-body">
            <p>{{ post.title_body }}</p>
        </div>
{% endblock %}
{% endfor %}